<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>教職員首頁</title>
  </head>
  <body>
    <h1>觀迎來到教職員首頁</h1>
    <a href="/students">回到學生頁面</a>
  </body>
</html>
